<nav aria-label="Data grid navigation">
  <ul class="pagination justify-content-end">
    <li
        class="page-item"
        [ngClass]="{disabled: pagination.activePage === 1}"
    >
      <a
          class="page-link"
          (click)="selectPreviousPage()"
      >
        Previous
      </a>
    </li>
    <li *ngFor="let page of getPages()"
        class="page-item"
        [ngClass]="{active: page === pagination.activePage}"
    >
      <a
          class="page-link"
          (click)="onSelectPage(page)"
      >
        {{ page }}
        <span
            *ngIf="page === pagination.activePage"
            class="sr-only"
        >
          (current)
        </span>
      </a>
    </li>
    <li
        class="page-item"
        [ngClass]="{disabled: pagination.activePage === pagination.lastPage}"
    >
      <a
          class="page-link"
          (click)="selectNextPage()"
      >
        Next
      </a>
    </li>
  </ul>
</nav>