<h1>List View</h1>

<div class="row">
  <div class="col-sm-6">
    <sl-search
        (searchTextChange)="onSearchTextChange($event)"
    ></sl-search>
  </div>
  <div class="col-sm-6 text-sm-right">
    <a routerLink="/add" routerLinkActive="active" class="btn btn-primary mb-3">Add Character</a>
  </div>
</div>

<ng-container *ngIf="data && data.length; else noResults">
  <sl-data-table
      [rows]="data"
      [columns]="columns"
      [sortParams]="sortParams"
      (removeElement)="onRemoveElement($event)"
      (editElement)="onEditElement($event)"
      (sort)="onSort($event)"
  ></sl-data-table>

  <sl-pagination
      [pagination]="pagination"
      (selectPage)="onSelectPage($event)"
  ></sl-pagination>
</ng-container>

<ng-template #noResults>
  No Results Found
</ng-template>