<table class="table table-bordered table-hover">
  <thead class="thead-light">
  <tr>
    <th *ngFor="let column of columns"
        scope="col"
        (click)="onSort(column)"
        [ngClass]="{'column-sort__asc': sortParams?.column === column && sortParams?.order === 'asc',
        'column-sort__desc': sortParams?.column === column && sortParams?.order === 'desc'}"
    >{{column}}
    </th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let row of rows, let i = index">
    <td
        *ngFor="let column of columns"
        [scope]="i === 0 ? 'row' : null"
    >
      {{row[column]}}
    </td>
    <td>
      <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
        <button type="button" class="btn btn-secondary" (click)="onEditElement(row)">
          <i class="fa fa-pencil" aria-hidden="true"></i> Edit
        </button>
        <button type="button" class="btn btn-danger" (click)="onRemoveElement(row)">
          <i class="fa fa-trash-o" aria-hidden="true"></i> Remove
        </button>
      </div>
    </td>
  </tr>
  </tbody>
</table>